{% extends 'base.html' %}
{% block body %}
<div class="container">
    <form class="m-5" action="{% url 'download_coloured_image' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Token</label>
          <input type="text" class="form-control" name="token">
          <div class="form-text">We'll never share your data with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}